<% include partials/head %>
<% include partials/nav %>

<h1>Welcome To FireCamp!</h1>

<p>This is an awesome app that I have no use for.</p>

<a href="/campgrounds">View all campgrounds</a>
<a href="/campgrounds/new">Add a new campground</a>

<% include partials/footer %>
